{{#if display}}
  {{#if formElement.help}}
    <div>{{formElement.help}}</div>
  {{/if}}
  <div>{{formElement.label}}</div>
  {{#each values as |value index|}}
    {{#unless (or value.hidden value.deleted)}}
      E:
      {{dynamic-form/grid-reference/text-field
        formElement=formElement
        state=state
        index=index
        isEasting=true
        updateState=updateState
      }}
      N:
      {{dynamic-form/grid-reference/text-field
        formElement=formElement
        state=state
        index=index
        isEasting=false
        updateState=updateState
      }}
      {{#if showDeleteButton}}
        <button {{action 'delete' index}}>Delete</button>
      {{/if}}
    {{/unless}}
  {{/each}}
  {{#if formElement.repeatable}}
    <button {{action 'add'}}>Add</button>
  {{/if}}
{{/if}}
{{log state}}
